body{
    font-family: Arial;
}

.full-page{
    position: fixed;
    background-color: rgb(14, 148, 101);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-page{
    background-color: white;
    position: relative;
    width: 260px;
    height: 300px;
    padding: 20px 40px 20px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
    border-radius: 6px;
    z-index: 200;
}
.person-image{
    padding: 6px 6px 6px 6px;
    width: 25px;
    height: 25px;
    background-color: rgb(6, 151, 127);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}


.all-stuff{
    margin-top: 50px;
    margin-left: 24px;
}

.lock-image{
    padding: 6px 6px 6px 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 25px;
    height: 25px;
    background-color: rgb(6, 151, 127);
}
.login-form{
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
    background-color: rgb(6, 151, 127);
    font-size: 22px;
    width: 130px;
    padding-right: 105px; 
    padding-left:105px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}



.all-stuffA{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    margin-top: 80px;
    width: 280px;
    margin-left: -20px;
   
}
.person-image-1{
    display: flex;
    flex-direction: row;
    border-left-color: 6px;
}
.lock-image-1{
    display: flex;
    flex-direction: row;
}
.Password{
         color: rgb(6, 151, 127);
         margin-top: 12px;
         margin-left: -20px;
         font-size: 14px;
         cursor: pointer;
}

.login-button{
    margin-left: 75px;
    background-color: rgb(6, 151, 127);
    color: white;
    border: none;
    padding: 10px 106px 10px 106px;
    margin-left: -20px;
    margin-top: 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.bottom-line{
    margin-top: 24px;
    margin-left: 14px;
    font-size: 15px;
}

.sign{
    color: rgb(6, 151, 127);
    cursor: pointer;
   
}

.input-1,
.input-2{
    width: 210px;
    font-size: 13px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    
}

